$btn-success: #34b53a;
$white-color: white;
$black-color: black;

$grey-color: #7d7d7d;
$light-grey: #ced1d4;
$light-grey2: #5E5E5E;

$light-green: #e2fbd7;
$light-green2: #d6f0d8;

$orange-color: #ffa831;
$light-orange: #fff0cc;

$red-color: #FF3A29;

$btn-warning: linear-gradient(180deg, #ffa831 0%, #ff9821 100%);

$layout-bg-color: #f8f8f8;

// input
$input-bg-color: #f8f8f8;
