.text-dark {
  color: $black-color !important;
}

.text-orange {
  color: $orange-color !important;
}

.text-green {
  color: #2b9730 !important;
}

.text-grey {
  color: $grey-color !important;
}

.text-grey2 {
  color: $light-grey2 !important;
}

.bg-light-1 {
  background-color: rgb(241, 241, 241) !important;
}

.bg-lightGreen {
  background-color: rgba(226, 251, 215, 1) !important;
}
