.dashboard-top {
  background-color: #f9f2ed;
}
.link-header {
  padding-left: 275px !important;
}

.dashboard-nav {
  font-weight: 600 !important;
  color: #5a1410 !important;
}

.dashboard-banner {
  position: relative;
  top: 330px;
}
