.restaurant-left-bg {
  background: url("../../../assets/restaurent-bg.png") rgb(255, 255, 255) 0px
    0px / 213.202% 198.396% no-repeat;
  background-position: center center;
  background-size: cover;
}
.restaurant-right-bg {
  background-color: #f8f8f8 !important;
  box-shadow: 3px 0px 29px 0px rgba(0, 0, 0, 0.1) inset !important;
}
